// main colors
$primary-color: #e75e8d;
$darkest-color: #1f2122;
$dark-color: #27292a;
$light-color: #fff;

// colors
$color-dark: #626262;
$color-light: $light-color;
$color-hovered: $primary-color;

// background colors
$bg-color-hovered: $primary-color;
$bg-darkest: $darkest-color;
$bg-dark: $dark-color;
$bg-color-light: $light-color;
