// font families
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap");
$f-family: "Poppins", sans-serif;

// font weights
$fw-bold: 700;
$fw-light: 300;

// line heights
$title-lh: 55px;
