// primary
$primary-space: 20px;

// heights
$search-bar-height: 50px;

// paddings
$primary-padding: $primary-space;
$nav-padding: $primary-padding / 2;

// margin
$primary-margin: $primary-space;

$sub-title-pt: 85px;
$sub-title-pb: 40px;
